<!DOCTYPE html>
<html lang="en">
<head>
  <title>OCFR-Member</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/layout.css" type="text/css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <div class="wrapper row1">
  <header id="header" class="clear">

      <div id="hgroup">
          <h1>Oconee County Fire Rescue</h1>
    </div>

    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="profile.html">Add New Member</a></li>
        <li><a href="Certification.html">Add New Certification</li>
        <li><a href="Expire.html">Display Expired Certifications</a></li>
        <li><a href="All.html">Display All Members</a></li>

      </ul>
    </nav>
  </header>
</div>

<div id="certificationRecordApp">
  <form>
    <div class="wrapper row2">
      <div id="container" class="clear">

        <div class="form-group row">
          <label for="inputCertificationId" class="form-group col-md-6">CertificationId</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCertificationId" placeholder="CertificationId" v-model="recordCertification.CertificationId">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="form-group col-md-6">Certification Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" v-model="recordCertification.Name">
          </div>
        </div>


        <div class="form-group row">
          <label for="inputDescription" class="form-group col-md-6">Certification Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDescription" placeholder="Description" v-model="recordCertification.Description">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputValidTime" class="form-group col-md-6">Valid Time in Years</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputValidTime" placeholder="ValidTime" v-model="recordCertification.ValidTime">
          </div>
        </div>


        <form  v-on:submit.prevent="handleSubmit">
          <input type="submit">
    </form>
  </div>
</div>
</form>
</div>
<div class="wrapper row3">
  <footer id="footer" class="clear">
      <center>All Rights Reserved - Team 22 MSIS Core</center>

  </footer>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>src="js/recordCertification.app.js"</script>
</body>
</html>
