<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OCFR-Member</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/layout.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="hgroup">
          <h1>Oconee County Fire Rescue</h1>
        </div>

        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="profile.html">Add New Member</a></li>
            <li><a href="Certification.html">Add New Certification</li>
            <li><a href="Expire.html">Display Expired Certifications</a></li>
            <li><a href="All.html">Display All Members</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <main>
      <div class="container">
      <div id="testApp">
        <form v-on:submit.prevent="handleSubmit" class="form-style">
          <div class="wrapper row2">
            <div class="clear">
            <ul>
              <li>
                <select class="form-control" id="inputMemberId" v-model=recordEnrollment.MemberId>
                  <option v-for="f in fighters" v-bind:value="fighters.MemberId">{{ f.FirstName }} {{ f.LastName }}</option>
                </select>
              </li>
              <li>
                <select class="form-control" id="inputCertificationId" v-model=recordEnrollment.CertificationId>
                  <option v-for="c in certs" v-bind:value="c.CertificationId">{{ c.Name }}</option>
                </select>
              </li>
              <li>
                <input type="date" class="form-control" id="inputStartDate" placeholder="Start Date" v-model="recordEnrollment.StartDate">
              </li>
              <li>
                <input type="date" class="form-control" id="inputExpireDate" placeholder="Expire Date" v-model="recordEnrollment.ExpireDate">
              </li>
              <br>
              <li>
                <input type="submit">
              </li>
            </ul>
            </div>
          </div>
        </form>
      </div>
      </div>
    </main>
    <div class="wrapper row3">
      <footer id="footer" class="clear">
          <center>All Rights Reserved - Team 22 MSIS Core</center>
      </footer>
    </div>
      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="js/certification.app.js"></script>
    <script src="js/fighter.app.js"></script> -->
    <script src="js/test.app.js"></script>
  </body>
</html>
