<!DOCTYPE html>
<html lang="en">
<head>
<title>OCFR-Member</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/layout.css" type="text/css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<body>

  <div class="wrapper row1">
    <header id="header" class="clear">

        <div id="hgroup">
            <h1>Oconee County Fire Rescue</h1>
      </div>

      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="profile.html">Add New Member</a></li>
          <li><a href="Certification.html">Add New Certification</li>
          <li><a href="Expire.html">Display Expired Certifications</a></li>
          <li><a href="All.html">Display All Members</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <main>
    <div id="fighterRecordApp">
      <form v-on:submit="handleSubmit" class="form-style">

       
          <div class="sizing">
              <center><h4 style="text-decoration-line: underline">Fighter Registration Form</h4></center>
              <br>

<ul>
  <li>

      <label for="inputFirstName" class="label-style">First Name: </label>
      <input type="text" id="inputFirstName" placeholder="First Name" class="field-style field-split" v-model="recordFighter.FirstName">

</li>

<li>


                  <label for="inputLastName" class="label-style">Last Name: </label>
    <input type="text" class="field-style field-split" id="inputLastName" placeholder="Last Name" v-model="recordFighter.LastName">
</li>

<li>


                  <label for="inputGender" class="label-style">Gender: </label>
    <input type="text" class="field-style field-split" id="inputGender" placeholder="Male/Female" v-model="recordFighter.Gender">
</li>


<li>


                            <label for="inputDateOfBirth" class="label-style">Date of Birth: </label>
    <input type="text" class="field-style field-split" id="inputDateOfBirth" placeholder="MM/DD/YYYY" v-model="recordFighter.DateOfBirth">
</li>


<li>


                                <label for="inputStreet" class="label-style">Street Address: </label>
    <input type="text" class="field-style field-split" id="inputStreet" placeholder="Street" v-model="recordFighter.Street">
</li>
<li>



                     <label for="inputCity" class="label-style">City: </label>
    <input type="text" class="field-style field-split" id="inputCity" placeholder="City" v-model="recordFighter.City">
</li>

<li>


                 <label for="inputState" class="label-style">State: </label>
    <input type="text" class="field-style field-split" id="inputState" placeholder="State" v-model="recordFighter.State">
</li>

<li>



                 <label for="inputZip" class="label-style">Zip: </label>
    <input type="text" class="field-style field-split align-left" id="inputZip" placeholder="Zip" v-model="recordFighter.ZipCode">

</li>

<li>


                 <label for="inputWorkPhone" class="label-style">Work Phone: </label><input type="text" class="field-style field-split" id="inputWorkphone" placeholder="Work Phone" v-model="recordFighter.WorkNum">

</li>
<li>




                 <label for="inputMobilePhone" class="label-style">Mobile Phone: </label>
    <input type="text" class="field-style field-split" id="inputMobilephone" placeholder="Mobile Phone" v-model="recordFighter.MobileNum">
</li>

<li>



                 <label for="inputRadioNum" class="label-style">Radio Number: </label><input type="text" class="field-style field-split" id="inputRadioNum" placeholder="Radio Number" v-model="recordFighter.RadioNum">

</li>
<li>



                 <label for="inputStationNum" class="label-style">Station Number: </label>
    <input type="text" class="field-style field-split" id="inputStationNum" placeholder="Station Number" v-model="recordFighter.StationNum">
</li>
<li>



                 <label for="inputEmail" class="label-style">Email: </label>
    <input type="email" class="field-style field-split" id="inputEmail" placeholder="Email" v-model="recordFighter.Email">
</li>

<br>
<li>
              <input type="submit" class="field-style">
            </li>
  </ul>
          </div>
        </div>
      </form>
    </div>


  </main>
  <div class="wrapper row3">
  <footer id="footer" class="clear">
    <center>All Rights Reserved - Team 22 MSIS Core</center>
  </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/recordFighter.app.js"></script>
</body>
</html>
